<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.mapper.ActivityMapper">
    <!-- ResultMap -->
    <resultMap id="BaseResultMap" type="com.museum.entity.Activity">
        <id column="_id" property="id" />
        <result column="ACTIVITY_ID" property="activityId" />
        <result column="ACTIVITY_TITLE" property="activityTitle" />
        <result column="ADMIN_ID" property="adminId" />
        <result column="ACTIVITY_OBJ" property="activityObj" />
        <result column="ACTIVITY_PIC" property="activityPic" />
        <result column="ACTIVITY_STATUS" property="activityStatus" />
        <result column="ACTIVITY_ADD_TIME" property="activityAddTime" />
        <result column="ACTIVITY_EDIT_TIME" property="activityEditTime" />
        <result column="_pid" property="pid" />
    </resultMap>

    <!-- Insert -->
    <insert id="insert" parameterType="com.museum.entity.Activity">
        INSERT INTO activity (
            _id, ACTIVITY_ID, ACTIVITY_TITLE, ADMIN_ID, ACTIVITY_OBJ,
            ACTIVITY_PIC, ACTIVITY_STATUS, ACTIVITY_ADD_TIME, ACTIVITY_EDIT_TIME,
            _pid
        ) VALUES (
            #{id}, #{activityId}, #{activityTitle}, #{adminId}, #{activityObj},
            #{activityPic}, #{activityStatus}, #{activityAddTime}, #{activityEditTime},
            #{pid}
        )
    </insert>

    <!-- Select by ID -->
    <select id="selectById" resultMap="BaseResultMap" parameterType="String">
        SELECT * FROM activity WHERE _id = #{id}
    </select>

    <!-- Update by ID -->
    <update id="updateById" parameterType="com.museum.entity.Activity">
        UPDATE activity SET
            ACTIVITY_ID = #{activityId},
            ACTIVITY_TITLE = #{activityTitle},
            ADMIN_ID = #{adminId},
            ACTIVITY_OBJ = #{activityObj},
            ACTIVITY_PIC = #{activityPic},
            ACTIVITY_STATUS = #{activityStatus},
            ACTIVITY_ADD_TIME = #{activityAddTime},
            ACTIVITY_EDIT_TIME = #{activityEditTime},
            _pid = #{pid}
        WHERE _id = #{id}
    </update>

    <!-- Delete by ID -->
    <delete id="deleteById" parameterType="String">
        DELETE FROM activity WHERE _id = #{id}
    </delete>
</mapper>
